/* everything */

* {
    font-family: Zen Maru Gothic, sans-serif;
}

main {
    background-color: #fafafa;
}

img {
    border-radius: 20px;
}

/* top navigation bar */
.navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% 0;
    background-color: #fafafa;
}

/* index styling */
.blog-posts section {
    display: flex;
    flex-basis: 0;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
    gap: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

article.post {
    flex: 1;
}

article p{
    padding-right: 10%;
}

h2.test {
    padding-left: 2%
}